<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Estudio 1</h1>
          -
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          ipsum illo ducimus dicta odio, minima velit laboriosam, perspiciatis
          maiores neque praesentium sed dolor ad cum ratione quia minus atque ea!
        </p>
        <li>
          <h1>Estudio 2</h1>
          -
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          ipsum illo ducimus dicta odio, minima velit laboriosam, perspiciatis
          maiores neque praesentium sed dolor ad cum ratione quia minus atque ea!
        </p>
        <li>
          <h1>Estudio 3</h1>
          -
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          ipsum illo ducimus dicta odio, minima velit laboriosam, perspiciatis
          maiores neque praesentium sed dolor ad cum ratione quia minus atque ea!
        </p>
          
      </ul>
    </div>
  </div>
  